.Infotable {
  border-collapse: collapse;
  /* width: 70%; */
  /* text-align: left; */
  letter-spacing: 1px;
}

.Infotr:hover {
  background-color: #eeeeee;
}

.Infotd {
  /* word-break: break-all; */
  padding: 1rem 1rem;
  border-bottom: 1px solid #eeeeee;
}

.InfoMinus {
  color: blue;
}

.InfoPlus {
  color: red;
}

.InfoBack {
  background-color: #eeeeee;
  border-radius: 10px;
}
