.div {
  display: inline-flex;
  height: 30px;

  border: 4px solid #001e60;
  margin: 3px;
}

.input {
  padding: 5px;
  outline: none;
  border: 0px;
}
.select {
  border: 0px;
  outline: none;
}

.button {
  color: white;
  border: 0px;
  background-color: #001e60;
  /* padding-left: 3px; */
  padding-right: 3px;
  padding-top: 3px;
}
