.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.th {
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  background-color: #8cbded;
  color: white;
  white-space: nowrap;
}

.table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px;
  width: 70%;
  text-align: left;
  letter-spacing: 2px;
  /* table-layout: fixed; */
  /* white-space: nowrap; */
}

.thead {
  box-shadow: 0 5px 10px rgb(177, 177, 177);
}

.td {
  word-break: break-all;
  padding: 1rem 2rem;
  /* white-space: nowrap; */
  /* border-bottom: 0.1px solid gray; */
}

.td2 {
  white-space: nowrap;
}

.statusTrue {
  color: #8cbded;
}

.tr:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 15%;
}

.title {
  width: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}
