.container {
  position: fixed;
  display: flex;
  width: 97.5vw;
  border-left: rgb(21, 21, 151) solid 0.5vw;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  top: 0;
}

.flex {
  display: flex;
}
.navbar {
  height: 105px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.item {
  float: left;
}

.itemLeft {
  width: 20%;
  padding-top: 10px;
}

.itemCenter {
  width: 60%;
  text-align: center;
}
.itemCenter > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 17px;
}
.itemCenter > div > span {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.itemRight {
  width: 20%;
  text-align: right;
}

.linkItem {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-top: 20px;
  height: 24px;
}

.memberContainer {
  display: flex;
  justify-content: right;
  padding-top: 30px;
}

.active {
  color: rgb(21, 21, 151);
  font-weight: 1000;
  text-decoration-line: none;
  border-bottom: 3px solid #05266e;
}

.inactive {
  color: black;
  text-decoration-line: none;
}

a {
  text-decoration-line: none;
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(95, 95, 95);
}

.studyList {
  padding: 10px;
  overflow-y: auto;
  width: 250px;
  height: 250px;
  position: fixed;
  top: 94px;
  left: 30px;
  border-radius: 3px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(151, 151, 151);
}

.studyList > a {
  text-decoration-line: none;
  font-size: 15px;
  margin: 10px;
  color: rgb(95, 95, 95);
}
