.studyDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: 0 5px 10px rgb(177, 177, 177);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.head {
  margin-right: auto;
  margin-left: 15%;
}
.cmt {
  display: flex;
  /* margin-left: auto; */
  /* flex-direction: column; */
  justify-content: space-around;
  /* align-content: flex-end; */
}

.content {
  word-break: break-all;
  margin-bottom: 3rem;
}
